@model InmueblesCarso_InCarso.Models.Archivo

@{
    string idioma = ViewBag.idioma;
}


@{
    string NombreDelArchivo = "";
    string NombreText = "";
    string DescripcionText = "";

    if (idioma == "ES")
    {
        NombreDelArchivo = Model.RutaArchivoES;
        NombreText = Model.NombreES;
        DescripcionText = Model.DescripcionES;
    }
    else
    {
        NombreDelArchivo = Model.RutaArchivoEU;
        NombreText = Model.NombreEU;
        DescripcionText = Model.DescripcionEU;

    }

}



<h1>@NombreText</h1>
<p>@DescripcionText</p>
<p>@Model.FechaPublicacion</p>

<object data="@Url.Action("GetPDF", new { nombrePDF = NombreDelArchivo })" type="application/pdf" width="100%" height="500em"></object>
